<h1>Hello, <%= @user.email %>
</h1>
<p>
  You have successfully uploaded your contacts file.
</p>
<p>
  The final status of the process is: <%= @uploaded_file.status %>.
</p>
<p>Thanks for joining and have a great day!</p>